@font-face {
    font-family: neue;
    src: url(./NeueHaasDisplayMediu.ttf);
}

@font-face {
    font-family: neue;
    font-weight: 100;
    src: url(./NeueHaasDisplayLight.ttf);
}

#div{
    /* background-color: black; */
    position: relative;
    z-index: 10;
}

* {
    font-family: neue;
	margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#page1 {
    min-height: 100vh;
    width: 100%;
    background-color: #EFEAE3;
    position: relative;
    padding: 0 2vw;
}

nav {
    padding: 2vw 0vw;
    /* width: 100%; */
    background-color: #EFEAE3;
    display: flex;
    align-items: center;
    position: relative;
    z-index: 100;
    justify-content: space-between;
}

#nav-part2 {
    display: flex;
    align-items: center;
    gap: 1vw;
}

#nav-part2 h4 {
    padding: 10px 20px;
    border: 1px solid #6666669f;
    border-radius: 50px;
    font-weight: 500;
    position: relative;
    color: #000000ce;
    transition: all ease 0.4s;
    font: 18px;
    overflow: hidden;
}

#nav-part2 h4::after{
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: black;
    left: 0;
    bottom: -100%;
    border-radius: 50%;
    transition: all ease 0.4s;
}

#nav-part2 h4:hover::after{
    bottom: 0;
    border-radius: 0;
}
#nav-part2 h4 a{
    color: black;
    text-decoration: none;
    position: relative;
    z-index: 9;
}
#nav-part2 h4:hover a{
    color: white;
}

#center{
    height: 65vh;
    width: 100%;
    /* background-color: orange; */
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    border-bottom: 1px solid #6666669f;
    padding-bottom: 2.5vw;
}

#left{
    width: 25vw;
    font-size: 1.8vw;
    line-height: 2vw;
}

#center h1{
    font-size: 9vw;
    line-height: 7vw;
    text-align: right;
}

#page1 video{
    width: 100%;
    border-radius: 30px;
    margin-top: 4vw;
    position: relative;
}

#hero-shape {
    position: absolute;
    width: 46vw;
    height: 36vw;
    right: 0;
    top: 65vh;
}

#hero-1 {
    background-color: #FE320A;
    height: 100%;
    width: 100%;
    border-top-left-radius: 50%;
    border-bottom-left-radius: 50%;
    filter: blur(10px);
    position: absolute;
}

#hero-2 {
    background: linear-gradient(#FE320A, #fe3f0a);

    height: 30vw;
    width: 30vw;
    border-radius: 50%;
    position: absolute;
    animation-name: anime2;
    animation-duration: 5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    filter: blur(25px);
}

#hero-3 {
    background: linear-gradient(#FE320A, #fe3f0a);
    height: 30vw;
    position: absolute;
    width: 30vw;
    border-radius: 50%;
    filter: blur(25px);
    animation-name: anime1;
    animation-duration: 5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

@keyframes anime1 {
    from {
        transform: translate(55%, -3%);
    }

    to {
        transform: translate(0%, 10%);
    }
}

@keyframes anime2 {
    from {
        transform: translate(5%, -5%);
    }

    to {
        transform: translate(-20%, 30%);
    }
}

#page2{
    min-height: 100vh;
    width: 100%;
    background-color: #EFEAE3;
    padding: 8vw 0;
    position: relative;

}

#moving-text {
    overflow-x: auto;
    white-space: nowrap;
}

#moving-text::-webkit-scrollbar{
    display: none;
}

.con {
    white-space: nowrap;
    display: inline-block;
    animation: move 10s linear infinite;
}
#moving-text h1 {
    font-size: 9vw;
    display: inline-block;
}

#gola {
    height: 70px;
    width: 70px;
    border-radius: 50%;
    background-color: #FE320A;
    display: inline-block;
    margin: 1vw 2vw;
}

@keyframes move {
    from{
        transform: translateX(0);
    }
    to{
        transform: translateX(-100%);
    }
}

#page2-bottom{
    height: 100vh;
    width: 100%;
    /* background-color: #EFEAE3; */
    padding: 4vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    z-index: 9;
}

#page2-bottom h1{
    font-size: 4vw;
    width: 60%;
    line-height: 4vw;
}

#bottom-part2{
    width: 20%;
    
}

#bottom-part2 img{
    width: 100%;
    border-radius: 15px;

}

#bottom-part2 p{
    font-weight: 100;
    margin-top: 2vw;

}

#page2 #gooy{
    height: 30vw;
    width: 30vw;
    position: absolute;
    border-radius: 50%;
    background: linear-gradient( to top right,#FE320A, #fe630a);
    top: 58%;
    left: 25%;
    filter: blur(20px);
    animation-name: gooy;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: ease-in-out;
}

#page3{
    min-height: 100vh;
    width: 100%;
    background-color: #EFEAE3;
    padding: 4vw 0;
}

@keyframes gooy {
    from{
        filter: blur(20px);
        transform: translate(10%, -10%) skew(0);
    }
    to{
        filter: blur(30px);
        transform: translate(-10%, 10%) skew(-12deg);
    }
}

.elem {
    height: 150px;
    width: 100%;
    position: relative;

    border-bottom: 1px solid #38383864;
    overflow: hidden;
    display: flex;
    align-items: center;
    padding: 0 2vw;
										
										 
}

.elem h2 {
    font-size: 3vw;
    position: relative;
    z-index: 9;
}

.elem .overlay {
    height: 100%;
    width: 100%;
    background-color: orange;
    position: absolute;
    left: 0;
    top: -100%;
    transition: all ease 0.25s;
}

.elem:hover .overlay {
    top: 0;
}



#fixed-image {
    height: 30vw;
    width: 24vw;
    /* background-color: red; */
    border-radius: 15px;
    position: fixed;
    z-index: 99;
    left: 50%;
    top: 25%;
    display: none;
    background-size: cover;
    background-position: center;
}

.project-title {
    padding-left: 2%;
    color: rgb(27, 27, 27);
    padding-bottom: 5vh;
    font-size: large;
    font-weight: 200;
}

.project-title img{
    height: 1vh;
}



.project{
    height: 10vw;
    background-color: #EFEAE3;
    display: flex;
    align-items: center;
    padding-left: 5vh;
}

.project h4 {
    padding: 10px 20px;
    border: 1px solid #6666669f;
    border-radius: 50px;
    font-weight: 500;
    position: relative;
    color: #000000ce;
    transition: all ease 0.4s;
    font: 18px;
    overflow: hidden;
}

.project h4::after{
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: black;
    left: 0;
    bottom: -100%;
    border-radius: 50%;
    transition: all ease 0.4s;
}

.project h4:hover::after{
    bottom: 0;
    border-radius: 0;
}

.project h4 a{
    color: black;
    text-decoration: none;
    position: relative;
    z-index: 9;
}
.project h4:hover a{
    color: white;
}

.card-container {
    height: 100vh;
    width: 100%;
    display: flex;
    padding: 5vh;
    box-sizing: border-box;
    background-color: #EFEAE3;
    font-family: neue;
  }
  .wrapper-container{
    height: 100%;
    width: 100%;
    background-color: black;
    display: flex;
    border-radius: 30px;
  }

  .left-part {
    width: 30%;
    display: flex;
    justify-content: center; 
    align-items: center;
    margin: 10vh; 
    padding: 0;
  }
  
  .left-content {
    display: flex;
    flex-direction: column;
    
    height: 70%;
  }
  
  .left-part a {
    display: block;
    margin-bottom: 10px;
    font-size: 6vh;
    text-decoration: none;
    color: white;
  }
  
  .left-part p {
    margin-top: 20px;
    /* font-size: 1.2em; */
    font-weight: 100;
    color: white;
  }
  
  .right-part {
    width: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
  }
  
  .right-part img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 30px;
  }
  
#page4{
    height: 70vh;
    width: 100%;
    background-color: #EFEAE3;
    padding: 10vw 2vw;
}
.swiper {
    width: 100%;
    height: 100%;
  }

  .swiper-slide {
    padding: 0 2vw;
    border-left: 0.5px solid #686868ce;
    width: 30%;
    
  }

  .swiper-slide p {
    font-weight: 100;
  }

 



#page5{
    height: 100vh;
    width: 100%;
    /* background-color: black; */
}

#footer {
    height: 100vh;
    width: 100%;
    position: fixed;
    z-index: 9;
    background-color: orangered;
    color: white;
    bottom: 0;
    display: flex;
    /* align-items: flex-end; */
    justify-content: flex-end;
    flex-direction: column;
    padding: 1vw 3vw;
}

#footer h1{
    font-size: 23vw;
}

#footer-div {
    height: 20vh;
    width: 100%;
    /* background-color: red; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 3vw;
    
}

#heading h3 {
    font-size: 2vw;
}

#email p {
    font-size: 1.5vw;
    font-weight: 100;
}

#footer-bottom{
    border-top: 1px solid #dadada;
    height: 10vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#footer-gooye {
    position: relative;
}

#footer-gooye #gooye {
    height: 150vw;
    width: 1000vh;
    position: absolute;
    border-radius: 20%;
    background: black;
    bottom: 100;
    right: 0;
    filter: blur(20px);
    animation-name: gooye;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: ease-in-out;
    z-index: -1; /* Send it to the back */
}

@keyframes gooye {
    from {
        transform: translate(0%, 0%); /* Start from the bottom left corner */
    }
    to {
        transform: translate(50vw, -50vh); /* Move to the center of the div */
        filter: blur(30px); /* Increase blur */
    }
}




  